.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App pre {
  text-align: center;
  margin: 0 auto !important;
  font-size: 18px !important;
  padding-bottom: 1%;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #666;
  border: 1px solid #ddd;
  color: #333;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #ddd;
  color: #555;
  padding: 10px 40px;
}

.app-container-start{
  background-color: #555;
}

